@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --main-color: #7510F7;
    --main-bg-color: #c196fa;
  }

*{
    margin: 0;
    padding: 0;
}

.center{
    max-width: 75vw;
    margin: auto;
    text-align: center;
}

.navbar{ 
    border: 2px solid black;
    padding: 23px 23px;
    margin: 12px;
    display: flex;
    justify-content: space-between;
     
}

.navbar li{
    list-style: none;
    padding: 0 12px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

.navbar li a{
     text-decoration: none;
     color: black;
}

.navbar li a:hover{
     color: var(--main-color);
}

.nav-right{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right #pop{
    position: absolute;
    top: 102px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--main-color);
    display: none;
}

.nav-left img{
    width: 102px;
}

.btn{
    font-size: 18px;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid var(--main-color);
    border-radius: 34px;
    color: var(--main-color);
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    transition: all .3s ease-in-out;
}

.herotext{
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    margin-top: 5%;
}

.herotext h1{
    color: red;
}

.herosubtitle{
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    font-weight: lighter;
}